In [2]:
import pandas as pd
import numpy as np 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
raww = pd.read_csv("anime.csv")
raw = pd.read_csv("anime_with_synopsis.csv")
raw = raw.rename(columns={"sypnopsis":"Synopsis"})
raw.head(5)

,MAL_ID,Name,Score,Genres,Synopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [14]:
raw = raw[["MAL_ID","Synopsis"]]
raw.head(6)

   MAL_ID                                           Synopsis
0       1  In the year 2071, humanity has colonized sever...
1       5  other day, another bounty—such is the life of ...
2       6  Vash the Stampede is the man with a $$60,000,0...
3       7  ches are individuals with special powers like ...
4       8  It is the dark century and the people are suff...
5      15  Sena is like any other shy kid starting high s...